<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>컴포넌트 연습문제</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <h1>컴포넌트를 숫자로 표현</h1>
  <div id="app">
    <!--
        comp 를 사용하기 위해 선언해준다
        v-for를 이용하여 반복문처럼 여러개의 comp를 찍을 수 있다.
        myArray의 배열을가져오고 밑에서 사용할 변수명과 그안의 값을 준다.
         item 이란 이름으로 가져오니 item을 넣어준거
         comp에서 사용할 변수명은 count = Vue에서 myArray[]의 값이 들어간다
      -->
    <comp v-for="item in myArray" :count="item"></comp>
  </div>

  <script>
    const Comp = {
      template: `<h3>{{count}} 은 {{check}} 입니다.</h3>`,
      props: {
        count: Number,
        check: String
      }, computed: {
        check: function () {
          // myArray배열에 있는 값들을 받아온 count의 나눔값이 0 인지 확인후
          // 0이 나온다면 짝수 아니면 홀수로 나오게 만들고
          // 그 값을 짝수, 홀수를 확인하기 위해 선언한 check에 넣어준다
          if (this.count % 2 == 0) {
            return this.check = '짝수'
          } else {
            return this.check = '홀수'
          }
        }
      }
    }
    new Vue({
      el: '#app',
      data: {
        myArray: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
      }
      , components: {
        'comp': Comp
      }
    })
  </script>
  <hr>

  <div id="app2">
    <!-- new Vue() -->
    <input v-model="name">
    <!-- today , my-name 속성에 각각의 값을 넣는다 -->
    <!-- 수식을 바로 넣어서 사용 가능 -->
    <!-- :my-name은 v-model:my-name(내가 입력한대로 변함) 과 같다 -->
    <!-- my-name 은 지정한 값 그대로가 들어간다 -->
    <name_comp :today="200+15" :my-name="name"></name_comp>
    <!-- Vue 객체안에 선언된 함수를 불러온다 -->
    <name_comp v-bind="dataList"></name_comp>
    <name_comp :today="100" my-name="또치"></name_comp>
    <name_comp my-name="12.5"></name_comp>
  </div>

  <script>
    const nameComp = {
      template: `<p> {{today+1}}, 나는 {{myName}}입니다.</p>`,
      props: {
        // template 에서 사용할 변수명과 타입을 정해준다.
        myName: String,
        today: {
          type: Number,
          default: -1
        }
      }
    }
    new Vue({
      el: '#app2',
      data: {
        name: '',
        array: {
          myName: 22,
          today: 205
        }
      },
      computed: {
        dataList: function () {
          return {
            myName: this.name, // myName 키값에 넣는다 
            today: Date.now() // today 키값에 넣는다
          }
        }
      },
      components: {
        'name_comp': nameComp
      }
    })
  </script>
</body>

</html>